{% extends "layout.html" %}

{% block body %}

    <div class="bloc">
        <!-- <h2 style="color: #fff;">Choose the available game</h2>
        <div class="select">
            <select>
                <option>Available modes</option>
                <option value="1">Mode 1</option>
                <option value="2">Mode 2</option>
                <option value="3">Mode 3</option>
                <option value="4">Mode 4</option>
            </select>
        </div>   -->
        <div class="imgGame">
            <img src="../static/images/iconG.png" alt="Our game..." style="border-radius: 50%;">
        </div>
        <div class="text-box" style="margin-left: 40px; margin-top: 55px; margin-bottom: 0;"> 
            <a href="/new-game" class="btn btn1 btn-white btn-animate">Play a new game</a>
        </div>
        <div class="text-box" style="margin-right: 355px;  margin-bottom: 0;">
            <a href="/test" class="btn btn2 btn-white btn-animate">Join a game</a>
        </div>
    </div>
   
    
   

{% endblock %}