<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cards's Game</title>
    <meta name="description" content="">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
     <link rel="stylesheet" href="../static/css/new-g.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Fast Detection Game</h1>
        </header>
        <section class="score-panel">
            <ul class="stars">
                <li>
                    <i class="fa fa-star gold-star"></i>
                </li>
            </ul>
            <span class="moves">Score :</span> 0
            <div class="restart">
                <i class="fa fa-repeat"></i> Restart game
            </div>
        </section>
        <div id="basicUsage" style="text-align: center;"><i style="display: inline-block; margin-right: 6px;" class="fa fa-clock-o"></i><h5 style="display: inline-block;" ><time></time></h5></div>
        <ul class="deck1" style="justify-content: center; display: flex;">
            <img src="../static/images/test.jpg" alt="simple card" class="gcard diapo" onclick="boutons(1)">
            <!-- <img src="../static/images/icon.png" alt="simple card" class="gcard diapo" onclick="boutons(-1)"> -->
        </ul>
        <hr style="border: #44464778 dashed 1px; width: 80%; margin: 19px 0 9px;">
        <ul class="deck2" style="justify-content: center; display: flex;">
            <img src="../static/images/test.jpg" class="gcard" alt="simple card">
        </ul>
    </div>
    <div class="popup">
        <div class="content">
            <span class="close">&times;</span>
            <h1>Congratulations,</h1>
            <p>You completed the game in time
                <span id="timer"> 00:00:00 </span> with total number of moves:
                <span id="moves">0</span>
                <br/> your star rating:
                <span id="rating">0</span> out of 3</p>
        </div>
    </div>

    <script src="../static/js/new-g.js"></script>
</body>

</html>